In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [4]:
!curl -L -o taxi_zone_lookup.csv https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

100 12322  100 12322    0     0  12186      0  0:00:01  0:00:01 --:--:-- 12186

In [5]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265